.element__item-like {
  background: url(../../../images/like.svg) transparent center;
  max-width: 22px;
  height: 19px;
  width: 100%;
  align-self: center;
} 

.element__item-like:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s;
}